:host {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4px;
}

.placeholder {
  background-color: white;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-bottom: calc(1 / (5 / 6) * 100%);
  }

  &::after {
    content: '';
    background-image: linear-gradient(to left ,transparent, #efefef, transparent);
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0;
    animation: image-placeholder-animation 1.2s linear infinite;
  }
}

@keyframes image-placeholder-animation {
  from {
    left: -100%
  }
  to {
    left: 100%;
  }
}
