<h2 class="text-center italic tracking-[2px] font-extrabold underline text-[#777] my-[24px] text-3xl" @swipeInfo>
  Swipe right <mat-icon color="accent" class="text-[32px] overflow-visible">swipe</mat-icon>
</h2>
<div class="grid justify-items-center items-center grid-flow-row" [@slider]="animationState">
  <div class="keen-slider" #keenSlider>
    <div class="keen-slider__slide flex flex-grow p-[4px]">
      <div class="slide-content-container grid content-start text-[16px] bg-white rounded-[8px] px-[16px] mat-elevation-z4">
        <div class="flex items-center justify-center border-b-[1px] border-b-gray-300 text-center mb-2">
          <h3 class="text-[1.3em] my-3">Shannon and Julian</h3>
        </div>
        <div class="flex justify-center items-center text-[0.875em]">
          <p class="flex-grow">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elementum est lacus, sit amet lacinia leo venenatis et. Proin quis finibus lacus. Duis non elit vehicula, dapibus dolor id, imperdiet leo. Praesent elementum odio risus, at pulvinar elit pulvinar sed. Integer velit est, dapibus quis tellus nec, vulputate lacinia justo. Aliquam nibh nunc, efficitur sed commodo vel, vestibulum a nisi. Aliquam a felis id nisl tempus ultrices non et magna. Duis aliquet sollicitudin neque at varius. Sed nec dolor odio.
          </p>
        </div>
      </div>
    </div>
    <div class="keen-slider__slide flex flex-grow p-[4px]">
      <div class="slide-content-container grid content-start text-[16px] bg-white rounded-[8px] px-[16px] mat-elevation-z4">
        <div class="flex items-center justify-center border-b-[1px] border-b-gray-300 text-center mb-2">
          <h3 class="text-[1.3em] mt-3 mb-3">Courtney and Miranda</h3>
        </div>
        <div class="flex justify-center items-center text-[0.875em]">
          <p>
            Fusce non justo hendrerit, egestas ex et, suscipit urna. Nam cursus hendrerit condimentum. Ut ultrices nulla sed sodales maximus. Quisque pellentesque libero vitae nunc pulvinar, ac interdum mauris imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas neque ante, elementum eu efficitur sed, imperdiet ut augue. Curabitur tincidunt, libero id fringilla dignissim, magna diam accumsan purus, sed semper mauris diam sollicitudin libero.
          </p>
        </div>
      </div>
    </div>
    <div class="keen-slider__slide flex flex-grow p-[4px]">
      <div class="slide-content-container grid content-start text-[16px] bg-white rounded-[8px] px-[16px] mat-elevation-z4">
        <div class="flex items-center justify-center border-b-[1px] border-b-gray-300 text-center mb-2">
          <h3 class="text-[1.3em] mt-3 mb-3">Kenneth and Eliot</h3>
        </div>
        <div class="flex justify-center items-center text-[0.875em]">
          <p class="flex-grow">
            Fusce maximus posuere elit efficitur tristique. Etiam id ornare nunc, vitae elementum nulla. Praesent nec sem nec lorem viverra semper. Etiam sapien lacus, consequat quis faucibus non, lobortis in sem. Etiam posuere purus quis justo dapibus mattis. Aenean id neque ut mi porta mattis a nec mi. Mauris pretium libero iaculis elit pellentesque, ut egestas lacus pharetra. Nullam semper lectus ac odio tincidunt pulvinar in a purus. Sed dapibus congue ex id elementum. Cras commodo lacus maximus sem condimentum lobortis. Ut rutrum finibus tempor. Sed mollis blandit mauris, nec luctus mauris pretium non.
          </p>
        </div>
      </div>
    </div>
    <div class="keen-slider__slide flex flex-grow p-[4px]">
      <div class="slide-content-container grid content-start text-[16px] bg-white rounded-[8px] px-[16px] mat-elevation-z4">
        <div class="flex items-center justify-center border-b-[1px] border-b-gray-300 text-center mb-2">
          <h3 class="text-[1.3em] mt-3 mb-3">Cleopatra and Mark Antony</h3>
        </div>
        <div class="flex justify-center items-center text-[0.875em]">
          <p class="flex-grow">
            Phasellus rhoncus semper sem, nec finibus mi hendrerit sed. Vivamus vitae nulla ut orci euismod iaculis non quis arcu. Morbi condimentum hendrerit porttitor. Donec accumsan tellus id lobortis fringilla. Duis feugiat ex at erat mattis, vel finibus risus aliquet. Proin et facilisis nisi. In at turpis ut felis eleifend consectetur. Aenean ultrices nunc mi. Curabitur vel luctus lectus. Donec mollis nisi quis porttitor pretium.
          </p>
        </div>
      </div>
    </div>
    <div class="keen-slider__slide flex flex-grow p-[4px]">
      <div class="slide-content-container grid content-start text-[16px] bg-white rounded-[8px] px-[16px] mat-elevation-z4">
        <div class="flex items-center justify-center border-b-[1px] border-b-gray-300 text-center mb-2">
          <h3 class="text-[1.3em] mt-3 mb-3">Paris and Helen</h3>
        </div>
        <div class="flex justify-center items-center text-[0.875em]">
          <p class="flex-grow">
            Mauris et sodales libero. Integer a ante id metus accumsan consequat. Sed tempus elit libero, vel fringilla arcu interdum et. Nulla viverra semper vehicula. Sed nulla lacus, sollicitudin vitae diam semper, ultricies ullamcorper felis. Sed lobortis metus sit amet nibh facilisis, vitae luctus mi porttitor. Sed vestibulum dapibus nibh ac elementum. Donec ultricies ultrices justo in convallis. Pellentesque molestie nec leo at eleifend. Sed luctus risus eu erat ultrices, at finibus urna efficitur. Nam id metus diam.
          </p>
        </div>
      </div>
    </div>
    <div class="keen-slider__slide flex flex-grow p-[4px]">
      <div class="slide-content-container grid content-start text-[16px] bg-white rounded-[8px] px-[16px] mat-elevation-z4">
        <div class="flex items-center justify-center border-b-[1px] border-b-gray-300 text-center mb-2">
          <h3 class="text-[1.3em] mt-3 mb-3">Dante and Beatrice</h3>
        </div>
        <div class="flex justify-center items-center text-[0.875em]">
          <p class="flex-grow">
            Nullam sit amet urna venenatis, congue erat sit amet, ultrices ex. Aliquam erat volutpat. Proin nisl diam, maximus quis convallis vel, malesuada in nibh. Vestibulum eu egestas urna. Curabitur at nulla tellus. Nullam id neque in sem ultricies tempus sed et tortor. Donec a magna sed neque dignissim aliquam nec quis magna. Nullam nec erat ac elit tincidunt ornare. Morbi at risus purus. Proin lobortis libero at sem molestie rhoncus. In vestibulum faucibus ipsum, et feugiat nisl condimentum vel. Vivamus maximus iaculis lorem, eu dignissim eros scelerisque a. Ut tempus molestie magna, nec consequat lacus vestibulum id. Praesent ac sollicitudin est. In ac turpis tortor.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
