<section class="about__first-section mat-elevation-z4 w-full max-w-[560px] min720:max-w-[930px]" @fade>
  <article class="mx-[16px]">
    <header>
      <h1 class="about__article-headig text-[32px] text-center italic font-bold m-[28px_8px]">
        So, Why Choose A Dating App Like SecondHalf?
      </h1>
      <p class="text-left text-[18px] my-[20px] .about__something">
        When it comes to dating apps, you've got options: Badoo, Bumble, Hinge, Match, POF, OKCupid, and many more.
        It doesn't matter if you want to find love, a date, or just have a casual chat,
        you still want to find an app that's the right match for you. And it's not always black and white — when you
        want to meet new people, your friends at SecondHalf can help you out with features designed to make the impossible
        possible. Dating online just got easier.
      </p>
      <p class="text-left text-[18px] my-[20px]">
        We won't brag about being the best free site — we'll let you decide for yourself by giving you SecondHalf at a glance.
      </p>
    </header>
    <span class="flex justify-center">
      <a routerLink="/signup" class="about__join-now-btn mat-elevation-z4" mat-raised-button color="primary">Join Now</a>
    </span>
  </article>
</section>
<div mediaSwitch @fade
     class="grid bg-white w-full max-w-[560px] pb-[56px] mat-elevation-z6
            min720:grid-cols-2 min720:max-w-[1200px]" >
  <ng-template mediaSwitchDefault>
    <article class="px-[16px]">
      <h1 class="font-semibold text-center my-[28px] text-[24px]">
        Explore Your Passions
      </h1>
      <p class="text-left text-[18px] my-[20px]">
        It's easy to chat up a match when you know you have something in common. The SecondHalf app lets you
        add Passions to your profile and connect with people who share your interests.
      </p>
    </article>
    <div class="about__loving-couple-img-container">
      <img class="absolute object-cover top-0 left-0 w-full h-full mat-elevation-z4" src="assets/loving_couple.jpg" alt="loving_couple">
    </div>
    <article class="px-[16px]">
      <h1 class="font-semibold text-center my-[28px] text-[24px]">
        Get Verified on SecondHalf
      </h1>
      <p class="text-left text-[18px] my-[20px]">
        Photo Verification lets you prove you're the person in your photos. When you see people on the SecondHalf
        app with a blue checkmark, it means they're the real deal.
      </p>
    </article>
    <article class="px-[16px]">
      <h1 class="font-semibold text-center my-[28px] text-[24px]">
        See Who Likes You
      </h1>
      <p class="text-left text-[18px] my-[20px]">
        There are only so many hours in a day for dating. We get it. A SecondHalf Gold™ subscription lets you see all
        the people who Like you, saving you precious time so you can focus on the finer things in life.
      </p>
    </article>
    <article class="px-[16px]">
      <h1 class="font-semibold text-center my-[28px] text-[24px]">
        Make Every Like Count
      </h1>
      <p class="text-left text-[18px] my-[20px]">
        Exclusive to SecondHalf Platinum™ subscribers, Priority Likes puts your profile in front of the people
        you Like faster.
      </p>
    </article>
    <div class="about__selfie-fiends-img-container">
      <img class="absolute object-cover top-0 left-0 w-full h-full  mat-elevation-z4" src="assets/selfie_friends.jpg" alt="selfie_friends">
    </div>
    <article class="px-[16px]">
      <h1 class="font-semibold text-center my-[28px] text-[24px]">
        Endless Possibilities
      </h1>
      <p class="text-left text-[18px] my-[20px]">
        With more than 55 billion matches to date, we're no stranger to bringing singles together online.
        Some sites, like Hinge and eharmony, are designed for long-term relationships, but on the SecondHalf app,
        we're all about the experience and offer possibilities for whatever it is you're looking for.
      </p>
    </article>
    <article class="py-[16px] about__roll-with-us-article">
      <h1 class="font-semibold text-center my-[28px] text-[24px]">
        Roll With Us Anywhere
      </h1>
      <p class="text-left text-[18px] my-[20px]">
        When you want to meet local people whether you're visiting New York City or Chicago, there's an app for
        that—and it's called SecondHalf. Chat with people near and far with features that let you match around the world.
        SecondHalf is your go-to travel buddy. We've got you covered in 190 countries, and not even our friends at OKCupid
        and Plenty of Fish can say that.
      </p>
    </article>
    <article class="px-[16px]">
      <h1 class="font-semibold text-center my-[28px] text-[24px]">
        Date Safer With Face to Face
      </h1>
      <p class="text-left text-[18px] my-[20px]">
        We're all eager to meet new people IRL, but dating during COVID-19 means putting your safety first.
        When six feet apart isn't enough, Face to Face lets you video chat with your match so you can keep the
        connection going online.
      </p>
    </article>
    <article class="px-[16px]">
      <h1 class="font-semibold text-center my-[28px] text-[24px]">
        Connect With People Everywhere
      </h1>
      <p class="text-left text-[18px] my-[20px]">
        Go beyond your distance settings and chat with people around the world with our Passport™
        feature. All it takes is an upgrade to a SecondHalf Plus® subscription to be able to match anywhere
        from everywhere.
      </p>
    </article>
    <article class="px-[16px]">
      <h1 class="font-semibold text-center my-[28px] text-[24px]">
        Matches at Your Fingertips
      </h1>
      <p class="text-left text-[18px] my-[20px]">
        One of the most adult decisions you'll make is picking a dating app that can offer you all the
        things your ex couldn't. And it's not just as simple as choosing between Badoo or Zoosk. Meeting people
        online is a journey, and you want someone along for the ride that you can trust. When it comes to making a match,
        consider the SecondHalf app your new copilot.
      </p>
    </article>
    <article class="px-[16px]">
      <h1 class="font-semibold text-center my-[28px] text-[24px]">
        All-Inclusive, All the Time
      </h1>
      <p class="text-left text-[18px] my-[20px]">
        We're not a fan of labels, so we offer a dating experience designed to connect you with new people outside
        your usual circles. Unlike sites like Bumble, SecondHalf doesn't filter based on height, education, race, or
        religion because demographics do not define a person. We believe everyone deserves the right to be seen and
        make the first move no matter how they identify. On our app, we put everyone in front of you and let you choose
        who you want to chat with.
      </p>
    </article>
    <div class="about__group-img-container">
      <img class="absolute object-cover top-0 left-0 w-full h-full  mat-elevation-z4" src="assets/group_with_cellphone.jpg" alt="group_with_cellphone">
    </div>
  </ng-template>
  <ng-template mediaSwitchCase="720">
    <div class="flex flex-col">
      <article class="px-[16px]">
        <h1 class="font-semibold text-center my-[28px] text-[24px]">
          Explore Your Passions
        </h1>
        <p class="text-left text-[18px] my-[20px]">
          It's easy to chat up a match when you know you have something in common. The SecondHalf app lets you
          add Passions to your profile and connect with people who share your interests.
        </p>
      </article>
      <div class="about__loving-couple-img-container">
        <img class="absolute object-cover top-0 left-0 w-full h-full " src="assets/loving_couple.jpg" alt="loving_couple">
      </div>
      <article class="px-[16px]">
        <h1 class="font-semibold text-center my-[28px] text-[24px]">
          Get Verified on SecondHalf
        </h1>
        <p class="text-left text-[18px] my-[20px]">
          Photo Verification lets you prove you're the person in your photos. When you see people on the SecondHalf
          app with a blue checkmark, it means they're the real deal.
        </p>
      </article>
      <article class="px-[16px]">
        <h1 class="font-semibold text-center my-[28px] text-[24px]">
          See Who Likes You
        </h1>
        <p class="text-left text-[18px] my-[20px]">
          There are only so many hours in a day for dating. We get it. A SecondHalf Gold™ subscription lets you see all
          the people who Like you, saving you precious time so you can focus on the finer things in life.
        </p>
      </article>
      <article class="px-[16px]">
        <h1 class="font-semibold text-center my-[28px] text-[24px]">
          Make Every Like Count
        </h1>
        <p class="text-left text-[18px] my-[20px]">
          Exclusive to SecondHalf Platinum™ subscribers, Priority Likes puts your profile in front of the people
          you Like faster.
        </p>
      </article>
      <div class="about__selfie-fiends-img-container">
        <img class="absolute object-cover top-0 left-0 w-full h-full " src="assets/selfie_friends.jpg" alt="selfie_friends">
      </div>
      <article class="px-[16px]">
        <h1 class="font-semibold text-center my-[28px] text-[24px]">
          Endless Possibilities
        </h1>
        <p class="text-left text-[18px] my-[20px]">
          With more than 55 billion matches to date, we're no stranger to bringing singles together online.
          Some sites, like Hinge and eharmony, are designed for long-term relationships, but on the SecondHalf app,
          we're all about the experience and offer possibilities for whatever it is you're looking for.
        </p>
      </article>
    </div>
    <div class="flex flex-col">
      <article class="px-[16px]">
        <h1 class="font-semibold text-center my-[28px] text-[24px]">
          Roll With Us Anywhere
        </h1>
        <p class="text-left text-[18px] my-[20px]">
          When you want to meet local people whether you're visiting New York City or Chicago, there's an app for
          that—and it's called SecondHalf. Chat with people near and far with features that let you match around the world.
          SecondHalf is your go-to travel buddy. We've got you covered in 190 countries, and not even our friends at OKCupid
          and Plenty of Fish can say that.
        </p>
      </article>
      <article class="px-[16px]">
        <h1 class="font-semibold text-center my-[28px] text-[24px]">
          Date Safer With Face to Face
        </h1>
        <p class="text-left text-[18px] my-[20px]">
          We're all eager to meet new people IRL, but dating during COVID-19 means putting your safety first.
          When six feet apart isn't enough, Face to Face lets you video chat with your match so you can keep the
          connection going online.
        </p>
      </article>
      <article class="px-[16px]">
        <h1 class="font-semibold text-center my-[28px] text-[24px]">
          Connect With People Everywhere
        </h1>
        <p class="text-left text-[18px] my-[20px]">
          Go beyond your distance settings and chat with people around the world with our Passport™
          feature. All it takes is an upgrade to a SecondHalf Plus® subscription to be able to match anywhere
          from everywhere.
        </p>
      </article>
      <article class="px-[16px]">
        <h1 class="font-semibold text-center my-[28px] text-[24px]">
          Matches at Your Fingertips
        </h1>
        <p class="text-left text-[18px] my-[20px]">
          One of the most adult decisions you'll make is picking a dating app that can offer you all the
          things your ex couldn't. And it's not just as simple as choosing between Badoo or Zoosk. Meeting people
          online is a journey, and you want someone along for the ride that you can trust. When it comes to making a match,
          consider the SecondHalf app your new copilot.
        </p>
      </article>
      <article class="px-[16px]">
        <h1 class="font-semibold text-center my-[28px] text-[24px]">
          All-Inclusive, All the Time
        </h1>
        <p class="text-left text-[18px] my-[20px]">
          We're not a fan of labels, so we offer a dating experience designed to connect you with new people outside
          your usual circles. Unlike sites like Bumble, SecondHalf doesn't filter based on height, education, race, or
          religion because demographics do not define a person. We believe everyone deserves the right to be seen and
          make the first move no matter how they identify. On our app, we put everyone in front of you and let you choose
          who you want to chat with.
        </p>
      </article>
      <div class="about__group-img-container">
        <img class="absolute object-cover top-0 left-0 w-full h-full " src="assets/group_with_cellphone.jpg" alt="group_with_cellphone">
      </div>
    </div>
  </ng-template>
</div>
