
<div class="w-full flex flex-col">
  <div *ngFor="let message of messages"
        class="max-w-[70%] text-white p-[8px]"
        [class.cloud]="memberId === message.ownerID"
        [class.own-cloud]="memberId !== message.ownerID"
        [class.bg-gr-primary]="memberId !== message.ownerID"
        [class.bg-gr-accent]="memberId === message.ownerID">
        <span class="single-member-chat-clouds__message-content"
              [class.single-member-chat-clouds__own-message-content]="memberId !== message.ownerID">
              {{ message.content }}
        </span>
  </div>
</div>
