
<ng-container *ngIf="withNames">
  <div class="single-member-info__single-info-container  mat-elevation-z6">
    <span class="single-member__label">First name: </span>{{ member.firstName }}
  </div>
  <div class="single-member-info__single-info-container  mat-elevation-z6">
    <span class="single-member__label">Last name: </span>{{ member.lastName }}
  </div>
  <div class="single-member-info__single-info-container  mat-elevation-z6">
    <span class="single-member__label">Nick name: </span>{{ member.nickName }}
  </div>
</ng-container>
<div class="single-member-info__single-info-container  mat-elevation-z6">
  <span class="single-member__label">Age: </span>{{ member.dateOfBirth | age }}
</div>
<div class="single-member-info__single-info-container  mat-elevation-z6">
  <span class="single-member__label">Address E-mail: </span>{{ member.email }}
</div>
<ng-container *ngIf="hasAddressInfo && withAddressInfo">
  <div class="single-member-info__single-info-container  mat-elevation-z6">
    <span class="single-member__label">City: </span>{{ member.city }}
  </div>
  <div class="single-member-info__single-info-container  mat-elevation-z6">
    <span class="single-member__label">Street: </span>{{ member.street }}
  </div>
  <div class="single-member-info__single-info-container  mat-elevation-z6">
    <span class="single-member__label">State: </span>{{ member.state }}
  </div>
  <div class="single-member-info__single-info-container  mat-elevation-z6">
    <span class="single-member__label">Country: </span>{{ member.country }}
  </div>
</ng-container>
<div *ngIf="member.aboutMySelf && withAboutMySelf" class="single-member-info__about-info-container  mat-elevation-z6">
  <div class="single-member__about-label-container margin-bottom-8">
    <span class="single-member__label">About: </span>
  </div>{{ member.aboutMySelf }}
</div>
