<div class="user-detalis__container mat-elevation-z4"
     #container
     [@userDetail]="{ value: edit, params: { onEditOffHeight: detailLabel.clientHeight + 32, onEditOnHeight: editForm.clientHeight + 32 } }"
     (@userDetail.done)="edit ? container.style.height = editForm.clientHeight + 32 + 'px' : container.style.height = detailLabel.clientHeight + 32 + 'px'">
  <div #detailLabel class="details_info-container"
       [style.visibility]="edit ? 'hidden' : ''"
       [@label]="edit">
    <span class="details__label-content">{{label}}: <span>{{value}}</span></span>
    <button class="detail__btn"
            mat-raised-button color="primary"
            (click)="onEditButtonClick()"><mat-icon>upgrade</mat-icon></button>
  </div>

  <div class="user-details__form-pending-overlay"
       *ngIf="pending"></div>

  <div class="user-details__form-pending-indicator"
       *ngIf="pending"></div>

  <div class="user-detail__access-availability-container"
       *ngIf="form.controls[name].pending">
    <div class="row-center">
      <mat-icon class="user-detail__access-availability">refresh</mat-icon> Checking availability
    </div>
  </div>

  <form [formGroup]="form"
        #editForm
        [@editForm]="edit"
        (@editForm.done)="onAnimationDone()"
        (ngSubmit)="onSubmit()"
        class="user-detail__form"
        [style.visibility]="edit ? '' : 'hidden'">

        <mat-form-field *ngIf="name !== 'aboutMe' else textAreaTemplate" appearance="outline">
          <input type="text"
                 [name]="name"
                 matInput
                 [formControlName]="name"
                 [appFocus]="focus"
                 (click)="name === 'dateOfBirth' ? openCalendar() : null"
                 (blur)="onInputBlur()">
          <mat-error *dnng-errors-for="form.controls[name]; let error">{{ error.message }}</mat-error>
        </mat-form-field>

        <ng-template #textAreaTemplate>
          <mat-form-field appearance="outline">
            <textarea [name]="name"
                      [formControlName]="name"
                      [appFocus]="focus"
                      matInput
                      cdkTextareaAutosize
                      [cdkAutosizeMinRows]="10"></textarea>
          </mat-form-field>
        </ng-template>


    <div class="queue content-x-end gap-8">

      <button mat-raised-button
              color="primary"
              type="submit"
              [disabled]="pending || form.pending">
              <mat-icon>upgrade</mat-icon>
      </button>

      <button mat-raised-button
              type="button"
              color="warn"
              (click)="onCancel()"
              type="button"
              [disabled]="pending">
              <mat-icon>cancel</mat-icon>
      </button>

    </div>
    <div class="calendar-overlay" *ngIf="calendarOpened" [@calendarContainer]>
      <div class="calendar-backdrop" (click)="closeCalendar()"></div>
      <div class="calendar-card bg-white mat-elevation-z4">
        <mat-calendar (selectedChange)="onSelected($event)">
        </mat-calendar>
      </div>
    </div>
  </form>
</div>
