<form class="grid w-full max-w-[400px] row-[2/3] col-[1/-1]"
      [formGroup]="formGroup"
      *ngIf="!passwordUpdated else succededUpdateTemplate"
      (ngSubmit)="onSubmit()"
      @form>
  <div class="grid">
    <mat-form-field appearance="fill">
      <mat-label>Old Password</mat-label>
      <input matInput type="text" name="oldPassword" formControlName="oldPassword">
      <mat-error *appFirstKeyOf="formGroup.controls.oldPassword; let error">{{ error }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>New password</mat-label>
      <input matInput type="text" name="newPassword" formControlName="newPassword">
      <mat-error *appFirstKeyOf="formGroup.controls.newPassword; let error">{{ error.message }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm new password</mat-label>
      <input matInput type="text" name="confirmNewPassword" formControlName="confirmNewPassword">
      <mat-error *appFirstKeyOf="formGroup.controls.confirmNewPassword"></mat-error>
    </mat-form-field>
  </div>
  <div class="grid grid-flow-col gap-[8px] mt-[8px]" @btnGroup>
    <button class="py-[8px_!important]" type="submit" mat-raised-button color="primary" [disabled]="submitBtnDisabled">Update</button>
    <button class="py-[8px_!important]" type="button" mat-raised-button color="warn">Cancel</button>
  </div>
</form>

<ng-template #succededUpdateTemplate>
  <div class="new-password__container grid self-center w-full max-w-[400px] row-[2/3] col-[1/-1]">
    <div>
      <h2 class="text-center">Succeded to update password.</h2>
    </div>
    <div class="justify-self-center mt-[32px]">
      <button mat-raised-button color="accent" (click)="onUpdateAgainButtonClick()">Update again</button>
    </div>
  </div>
</ng-template>
