<form class="new-password__form"
      [formGroup]="form!"
      *ngIf="!passwordUpdated else succededUpdateTemplate"
      (ngSubmit)="onSubmit()"
      @form>
  <div class="new-password__input-group">
    <mat-form-field appearance="fill">
      <mat-label>Old Password</mat-label>
      <input matInput type="text" name="oldPassword" formControlName="oldPassword">
      <mat-error *dnng-errors-for="form!.controls.oldPassword; let error">{{ error.message }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>New password</mat-label>
      <input matInput type="text" name="newPassword" formControlName="newPassword">
      <mat-error *dnng-errors-for="form!.controls.newPassword; let error">{{ error.message }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm new password</mat-label>
      <input matInput type="text" name="confirmNewPassword" formControlName="confirmNewPassword">
      <mat-error *dnng-errors-for="form!.controls.confirmNewPassword"></mat-error>
    </mat-form-field>
  </div>
  <div class="new-password__btn-group" @btnGroup>
    <button type="submit" mat-raised-button color="primary" [disabled]="disableSubmit">Update</button>
    <button type="button" mat-raised-button color="warn">Cancel</button>
  </div>
</form>

<ng-template #succededUpdateTemplate>
  <div class="new-password__container">
    <div>
      <h2 class="text-center">Succeded to update password.</h2>
    </div>
    <div class="queue content-x-center">
      <button mat-raised-button color="accent" (click)="onUpdateAgainButtonClick()">Update again</button>
    </div>
  </div>
</ng-template>
