<section class="mat-elevation-z6" appFadeInViewport appFadeInViewportFrom="left" debounceTime="400">
  <header>
    <h1 class="text-[clamp(24px,_6vw,_32px)] my-[28px] text-center">Henry</h1>
  </header>
  <div>
    <img class="mat-elevation-z4" src="assets/henry.jpg" alt="henries_image">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus non mauris tempus aliquet et eget felis.
      Aliquam sit amet dignissim nisl. Fusce vulputate sed urna id rhoncus. Proin sagittis a leo eu convallis.
      Sed sed mauris nisi. Maecenas quis vestibulum erat. Phasellus mattis nunc vel orci lacinia, ac hendrerit dui
      pellentesque. Nunc vitae orci et leo interdum accumsan. Quisque dignissim imperdiet rhoncus. Suspendisse vel
      maximus risus. Praesent imperdiet enim nulla, non faucibus lorem convallis in. Donec bibendum, massa in facilisis
      luctus, mauris orci dictum orci, id tempus mauris arcu sed dolor.
    </p>
  </div>
</section>
<section class="mat-elevation-z6" appFadeInViewport appFadeInViewportFrom="right" appFadeInViewportOffsetY="-32" debounceTime="400">
  <header>
    <h1 class="text-[clamp(24px,_6vw,_32px)] my-[28px] text-center">Susanne</h1>
  </header>
  <div>
    <img class="mat-elevation-z4" src="assets/susanne.jpg" alt="henries_image">
    <p>
      Quisque et est ipsum. Quisque hendrerit lacus ac lobortis posuere. Praesent suscipit, leo quis ultricies
      tempus, est diam lacinia felis, id hendrerit nisi purus sit amet elit. Suspendisse pellentesque vel elit
      sed consequat. Quisque ipsum purus, tempor a tellus id, dapibus mollis odio. Proin sed pulvinar ligula,
      quis malesuada lacus. Vivamus finibus arcu lorem, at venenatis ligula consequat lobortis. Nunc interdum
      lacinia mattis. Quisque eu sagittis nulla. Nunc sit amet metus iaculis, sagittis mi eu, tincidunt metus.
      Nullam mattis lacus orci, non interdum nisl tincidunt quis. Phasellus pretium augue eget mauris eleifend
      tempor vel in massa. Vestibulum rhoncus congue nisl. Donec non consequat mi. Donec id dui iaculis, molestie
      mi sed, bibendum purus.
    </p>
  </div>
</section>
<section class="mat-elevation-z6" appFadeInViewport appFadeInViewportFrom="left" appFadeInViewportOffsetY="-32" debounceTime="400">
  <header>
    <h1 class="text-[clamp(24px,_6vw,_32px)] my-[28px] text-center">Laura</h1>
  </header>
  <div>
    <img class="mat-elevation-z4" src="assets/laura.jpg" alt="henries_image" appFadeInViewportOffsetY="-32">
    <p>
      Nulla accumsan faucibus mi at pulvinar. Pellentesque eu sem nisl. Donec rutrum in ligula vel efficitur.
      Praesent ultrices vel eros a finibus. Morbi rhoncus elementum tellus, ac dignissim tortor. Quisque hendrerit
      sem eu interdum iaculis. Mauris vitae enim sit amet nibh venenatis aliquam ut elementum nibh. Donec non mi
      eros. Nullam in pulvinar quam, et accumsan enim. Nam malesuada sagittis turpis et venenatis. Phasellus sapien
      justo, ullamcorper eget feugiat in, pulvinar in ex. Sed vulputate volutpat metus, hendrerit porttitor enim
      pharetra non. Praesent aliquam varius mauris, at finibus mi scelerisque ut. Sed vitae lobortis odio, sed luctus
      tellus. Praesent convallis gravida blandit. Sed felis nibh, iaculis lobortis iaculis nec, gravida id metus.
    </p>
  </div>
</section>
<section class="mat-elevation-z6" appFadeInViewport appFadeInViewportFrom="right" appFadeInViewportOffsetY="-32" debounceTime="400">
  <header>
    <h1 class="text-[clamp(24px,_6vw,_32px)] my-[28px] text-center">Casper</h1>
  </header>
  <div>
    <img class="mat-elevation-z4" src="assets/casper.jpg" alt="henries_image">
    <p>
      Nullam tempor blandit dui. Praesent eget ligula nulla. Ut porta velit eu massa suscipit vehicula. Maecenas
      hendrerit condimentum enim, nec aliquet elit pharetra eget. In finibus sit amet lacus sed malesuada. Phasellus
      dolor tortor, fermentum nec cursus in, sodales vitae nunc. Nam quis sagittis urna. Cras vitae dignissim arcu.
      Ut venenatis turpis tortor, lobortis venenatis turpis eleifend vel. Pellentesque accumsan volutpat ipsum, ut
      pellentesque magna facilisis in.
    </p>
  </div>
</section>
<section class="mat-elevation-z6" appFadeInViewport appFadeInViewportFrom="left" appFadeInViewportOffsetY="-32" debounceTime="400">
  <header>
    <h1 class="text-[clamp(24px,_6vw,_32px)] my-[28px] text-center">John</h1>
  </header>
  <div>
    <img class="mat-elevation-z4" src="assets/john.jpg" alt="henries_image" appFadeInViewportOffsetY="-32">
    <p>
      Morbi non est augue. Nunc lobortis viverra facilisis. Vivamus viverra varius dolor, vel elementum lectus
      condimentum eget. Vestibulum accumsan arcu ac massa hendrerit hendrerit. Sed commodo orci ut quam aliquam
      commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus tristique lobortis. Cras
      consequat, odio ut luctus ornare, mauris est aliquam velit, a facilisis erat velit sed nisi. Phasellus enim
      enim, auctor a nisl et, vehicula ornare nibh. Pellentesque pharetra tortor eu mollis volutpat.
    </p>
  </div>
</section>
<section class="mat-elevation-z6" appFadeInViewport appFadeInViewportFrom="right" appFadeInViewportOffsetY="-32" debounceTime="400">
  <header>
    <h1 class="text-[clamp(24px,_6vw,_32px)] my-[28px] text-center">Rick</h1>
  </header>
  <div>
    <img class="mat-elevation-z4" src="assets/rick.jpg" alt="henries_image">
    <p>
      Vestibulum elementum non dolor vel convallis. Sed posuere convallis ligula eget accumsan. Vestibulum risus
      lorem, finibus non blandit quis, congue quis urna. Vestibulum et vulputate eros, eget convallis massa. Nulla
      vitae rhoncus metus. Quisque rutrum varius cursus. Pellentesque habitant morbi tristique senectus et netus et
      malesuada fames ac turpis egestas. Morbi porta sit amet lectus in pretium.
      Morbi vulputate urna vel lorem varius eleifend.
    </p>
  </div>
</section>
<section class="mat-elevation-z6" appFadeInViewport appFadeInViewportFrom="left" appFadeInViewportOffsetY="-32" debounceTime="400">
  <header>
    <h1 class="text-[clamp(24px,_6vw,_32px)] my-[28px] text-center">Nicola</h1>
  </header>
  <div>
    <img class="mat-elevation-z4" src="assets/Nicola.jpg" alt="henries_image">
    <p>
      Cras volutpat ante at suscipit molestie. Nunc blandit pellentesque facilisis. Integer auctor
      aliquam ligula eu lacinia. Vivamus non libero ut justo laoreet rutrum sed in libero. Suspendisse
      arcu dolor, interdum ut metus a, varius egestas odio. Vivamus ut lectus vestibulum, pulvinar augue eget,
      malesuada lorem. Nunc sit amet eros tellus.
    </p>
  </div>
</section>
<section class="mat-elevation-z6" appFadeInViewport appFadeInViewportFrom="right" appFadeInViewportOffsetY="-32" debounceTime="400">
  <header>
    <h1 class="text-[clamp(24px,_6vw,_32px)] my-[28px] text-center">Julia</h1>
  </header>
  <div>
    <img class="mat-elevation-z4" src="assets/julia.jpg" alt="henries_image">
    <p>
      Nam at imperdiet nunc. Ut non consequat felis. Curabitur non pulvinar ex. Nulla vitae ornare nulla.
      Aliquam a orci lobortis, egestas sem ultrices, maximus orci. Donec porta tincidunt bibendum. Pellentesque
      sagittis tempus felis. Nullam dignissim tempor sem, ut gravida dolor lacinia in. Duis in mollis turpis.
      Fusce eros libero, ultrices non massa eget, blandit venenatis mauris. Quisque vulputate, tortor in vehicula
      tempus, lectus leo mattis nunc, sit amet vulputate urna urna nec odio.
    </p>
  </div>
</section>
