<form class="address-info-form__form" [formGroup]="form!" (ngSubmit)="onSubmit()" @form>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>City</mat-label>
    <input type="text" matInput formControlName="city" name="city">
    <mat-error *dnng-errors-for="form!.controls.city; let error">{{ error.message }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Street</mat-label>
    <input type="text" matInput formControlName="street" name="street">
    <mat-error *dnng-errors-for="form!.controls.street; let error">{{ error.message }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>State</mat-label>
    <input type="text" matInput formControlName="state" name="state">
    <mat-error *dnng-errors-for="form!.controls.state; let error">{{ error.message }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>Country</mat-label>
    <input type="text" matInput formControlName="country" name="country">
    <mat-error *dnng-errors-for="form!.controls.country; let error">{{ error.message }}</mat-error>
  </mat-form-field>
  <div class="uniform-queue margin-y-16 gap-8" @btnGroup>
    <button mat-raised-button class="padding-4" color="primary" type="submit">Save</button>
    <button mat-raised-button class="padding-4" color="warn" type="button">Cancel</button>
  </div>
</form>
