<app-new-photos></app-new-photos>

<ng-container [ngSwitch]="imagesStateStatus$ | async">
  <app-current-photos *ngSwitchCase="'complete'"
                      [imagesUrls]="images$ | async"
                      [imageUploaded$]="imageUploaded$"
                      [imagesUploaded$]="imagesUploaded$"
                      [deleteImageSuccess$]="deleteImageSuccess$"
                      [selectingMainImage$]="patchingMainImageUrl$"></app-current-photos>

  <div *ngSwitchCase="'pending'" class="photos__on-something-container column-center">
    <p class="photos__loading-text text-center">LOADING</p>
      <app-loading-spinner class="photos__loading-spinner-container"></app-loading-spinner>
  </div>

  <div *ngSwitchCase="'error'" class="photos__on-something-container column-center">
    <div class="photos_error-text-container mat-elevation-z6 padding-y-16 padding-x-8 margin-x-16 text-center">
      <span>Failed to dawnload photos. Please refresh the page or try again later</span>
    </div>
  </div>

  <div *ngSwitchCase="'empty'" class="photos__on-something-container column-center">
    <div class="photos__on-something-container column-center">
      <div class="photos_empty-text-container mat-elevation-z6 padding-y-16 padding-x-8 margin-x-16 text-center">
        <span>You don't have any photos right now. Please add some pictures to your account.</span>
      </div>
    </div>
  </div>
</ng-container>

