<div class="products__container">
  <h1 @productsHeading>Producst</h1>
  <ul class="products__list">
    <li class="products__list-item products__gold mat-elevation-z12"
        [@goldProduct]="'small-view' | media:{ '900': 'big-view' }">
        <h2 >GOLD</h2>
        <p>Go for Gold And See Who Likes You</p>
        <button mat-raised-button color="accent" class="products__buy-btn">Buy Now</button>
        <h2>16.99$</h2>
        <ul class="products__benefit-list">
          <li class="products__benefit-list-item">
            <mat-icon class="mat-elevation-z4">thumb_up</mat-icon><h3> Passport™</h3>
            <p>Match with people from all over the world.</p>
          </li>
          <li class="products__benefit-list-item">
            <mat-icon class="mat-elevation-z4">favorite</mat-icon><h3> Unlimited Likes</h3>
            <p>Catch feelings for as many people as you want.</p>
          </li>
          <li class="products__benefit-list-item">
            <mat-icon class="mat-elevation-z4">star</mat-icon><h3> Free Monthly Super Likes™</h3>
            <p>Stand out from the crowd and increase your matchmaking potential by 3x.</p>
          </li>
          <li class="products__benefit-list-item">
            <mat-icon class="mat-elevation-z4">dynamic_form</mat-icon><h3> 1 Monthly Boost</h3>
            <p>Get more attention by being one of the top profiles in your local area for 30 minutes.</p>
          </li>
          <li class="products__benefit-list-item">
            <mat-icon class="mat-elevation-z4">replay</mat-icon><h3> Rewind®</h3>
            <p>Go back in time and redo your last Like or Nope.</p>
          </li>
        </ul>
    </li>
    <li class="products__list-item bg-white mat-elevation-z6" [@plusProduct]="'small-view' | media:{ '900': 'big-view' }">
        <h2>Plus</h2>
        <p>Spread The Love With SecondHalf Plus®</p>
        <button mat-raised-button color="accent" class="products__buy-btn">Buy Now</button>
        <h2>9.99$</h2>
        <ul class="products__benefit-list">
          <li class="products__benefit-list-item">
            <mat-icon class="mat-elevation-z4">favorite</mat-icon><h3> Unlimited Likes</h3>
            <p>Catch feelings for as many people as you want.</p>
          </li>
          <li class="products__benefit-list-item">
            <mat-icon class="mat-elevation-z4">thumb_up</mat-icon><h3> Passport™</h3>
            <p>Match with people from all over the world.</p>
          </li>
          <li class="products__benefit-list-item">
            <mat-icon class="mat-elevation-z4">replay</mat-icon><h3> Rewind®</h3>
            <p>Go back in time and redo your last Like or Nope.</p>
          </li>
        </ul>
    </li>
    <li class="products__list-item bg-white mat-elevation-z6" [@premiumProduct]="'small-view' | media:{ '900': 'big-view' }">
      <h2>Platinum</h2>
      <p>Get Noticed by the People You Like With SecondHalf Platinum™</p>
      <button mat-raised-button color="accent" class="products__buy-btn">Buy Now</button>
      <h2>32.99$</h2>
      <ul class="products__benefit-list">
        <li class="products__benefit-list-item">
          <mat-icon class="mat-elevation-z4">flight_takeoff</mat-icon><h3> Add a Note to Every Super Like</h3>
          <p>Get chatting faster by attaching a note to every Super Like you send.</p>
        </li>
        <li class="products__benefit-list-item">
          <mat-icon class="mat-elevation-z4">favorite</mat-icon><h3> Priority Likes</h3>
          <p>
            The best things in life are free to Platinum subscribers, Priority Likes makes sure
            your profile is seen faster by the people you Like and Super Like.
          </p>
        </li>
        <li class="products__benefit-list-item">
          <mat-icon class="mat-elevation-z4">favorite</mat-icon><h3> Likes You</h3>
          <p>See all your admirers in one place so you can make an adult decision on who you Like and Nope.</p>
        </li>
        <li class="products__benefit-list-item">
          <mat-icon class="mat-elevation-z4">diamond</mat-icon><h3> Top Picks</h3>
          <p>Get a glance at 10 categorized profiles each day, tailored just for you.</p>
        </li>
        <li class="products__benefit-list-item">
          <mat-icon class="mat-elevation-z4">thumb_up</mat-icon><h3> Passport™</h3>
          <p>Match with people from all over the world.</p>
        </li>
        <li class="products__benefit-list-item">
          <mat-icon class="mat-elevation-z4">favorite</mat-icon><h3> Unlimited Likes</h3>
          <p>Catch feelings for as many people as you want.</p>
        </li>
        <li class="products__benefit-list-item">
          <mat-icon class="mat-elevation-z4">star</mat-icon><h3> Free Monthly Super Likes™</h3>
          <p>Stand out from the crowd and increase your matchmaking potential by 3x.</p>
        </li>
        <li class="products__benefit-list-item">
          <mat-icon class="mat-elevation-z4">bolt</mat-icon><h3> 1 Monthly Boost</h3>
          <p>Get more attention by being one of the top profiles in your local area for 30 minutes.</p>
        </li>
        <li class="products__benefit-list-item">
          <mat-icon class="mat-elevation-z4">replay</mat-icon><h3> Rewind®</h3>
          <p>Go back in time and redo your last Like or Nope.</p>
        </li>
      </ul>
  </li>
  </ul>
</div>
