@use '../../../mat-theme/abstract/math-abs' as mat;

:host {
  display: block;
  padding: 32px;
}

.community-guidelines__container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

hr {
  border-top-color: mat.$primary-color;
  margin: 32px 0;
}

.community-guidelines__bad-behaviors-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
  background-color: white;
  border-radius: 8px;
  max-width: 600px;

  > p {
    margin-bottom: 48px;
  }

  mat-icon {
    transform: scale(2);
  }
}
