<div class="w-full mx-auto max-w-[1200px]" @communityGuidelines>
  <h1 class="text-[32px] my-[18px] font-bold">Community Guidelines</h1>
  <p>
    Welcome to the SecondHalf community. If you're honest, kind and respectful to others, you'll always be welcome
    here. If you choose not to be, you may not last. Our goal is to allow users to express themselves freely
    as long as it doesn't offend others. Everyone is held to the same standard on SecondHalf. We're asking you
    to be considerate, think before you act, and abide by our community guidelines both on and offline.
    You heard that right: your offline behavior can lead to termination of your SecondHalf account.
  </p>
  <p>
    Below is a list of our community policies. If you violate any of these policies, you might be banned
    from SecondHalf. Seriously, don't make us Swipe Left on you—because there will be no do-overs once we
    do. We encourage you to report any behavior that violates our policies, and read up on our Safety Tips.
  </p>
  <h2 class="text-[24px] my-[14px] font-semibold">SecondHalf is not for:</h2>
  <p><strong>Nudity/Sexual Content</strong></p>
  <p>
    We're not asking you to comb your hair to one side or even speak in full sentences; but please keep
    it classy and appropriate for public consumption. No nudity, no sexually explicit content, and don't
    chronicle all of your sexual desires in your bio. Keep it clean.
  </p>
  <p><strong>Harassment</strong></p>
  <p>
    Do not engage, or encourage others to engage, in any targeted abuse or harassment against any other user.
    This includes sending any unsolicited sexual content to your matches. Reports of stalking, threats,
    bullying, or intimidation, are taken very seriously.
  </p>
  <p><strong>Violence and Physical Harm</strong></p>
  <p>
    We do not tolerate violent, graphic, or gory content on SecondHalf, or any actions or content that advocate
    for or threaten violence of any sort, including threatening or promoting terrorism. Physical assault,
    coercion, and any acts of violence are strictly prohibited.
  </p>
  <p>
    Content that advocates for or glorifies suicide or self-harm is also not allowed. In these situations,
    we may take a number of steps to assist the user, including reaching out with crisis resources.
  </p>
  <p><strong>Hate Speech</strong></p>
  <p>
    Any content that promotes, advocates for, or condones racism, bigotry, hatred, or violence against
    individuals or groups based on factors like (but not limited to) race, ethnicity, religious
    affiliation, disability, gender, age, national origin, sexual orientation, or gender identity is not allowed.
  </p>
  <p><strong>Private Information</strong></p>
  <p>
    Don't publicly broadcast any private information, yours or anyone else's. This includes social security
    numbers, passports, passwords, financial information or unlisted contact information, such as phone
    numbers, email addresses, home/work address.
  </p>
  <p><strong>Spam</strong></p>
  <p>
    Don't be fake. Be real instead. Don't use SecondHalf to drive people to external websites via a link or otherwise.
  </p>
  <p><strong>Promotion or Solicitation</strong></p>
  <p>
    Soliciting other users is prohibited on SecondHalf. It's fine to invite your matches to something that you're
    doing, but if the purpose of your profile is to advertise your event or business, non-profit, political
    campaign, contest, or to conduct research, we may delete your account. While we're excited that you're
    doing a comedy show next week, please don't use SecondHalf to promote it.
  </p>
  <p><strong>Prostitution and Trafficking</strong></p>
  <p>
    Promoting or advocating for commercial sexual services, human trafficking or other non-consensual
    sexual acts is strictly prohibited and will result in your account being banned from SecondHalf.
  </p>
  <p><strong>Scamming</strong></p>
  <p>
    SecondHalf has a zero-tolerance policy on predatory behavior of any kind. Anyone attempting to get other
    users' private information for fraudulent or illegal activity may be banned. Any user caught sharing
    their own financial account information (PayPal, Venmo, etc.) for the purpose of receiving money
    from other users may also be banned from SecondHalf.
  </p>
  <p><strong>Impersonation</strong></p>
  <p>Be yourself! Don't pretend to be someone else.</p>
  <p>
    Do not impersonate, or otherwise misrepresent affiliation, connection or association with, any person
    or entity. This includes parody accounts. While we think your Mike Pence profile is hilarious, you
    aren't Mike Pence. And if you are, what are you doing on SecondHalf?
  </p>
  <p><strong>Minors</strong></p>
  <p>
    You must be 18 years of age or older to use SecondHalf. As such, we do not allow images of unaccompanied minors.
    If you want to post photos of your children, please make sure that you are in the photo as well.
    If you see a profile that includes an unaccompanied minor, encourages harm to a minor, or depicts
    a minor in a sexual or suggestive way, please report it immediately.
  </p>
  <p><strong>Copyright and Trademark Infringement</strong></p>
  <p>
    If it's not yours, don't post it. If your SecondHalf profile includes any work that is copyrighted or
    trademarked by others, don't display it, unless you are allowed to do so.
  </p>
  <p><strong>Illegal Usage</strong></p>
  <p>Don't use SecondHalf to do anything illegal. If it's illegal IRL, it's illegal on SecondHalf.</p>
  <p><strong>One Person, One Account</strong></p>
  <p>
    SecondHalf accounts cannot have multiple owners, so don't create an account with your friend or
    significant other. Additionally, please don't maintain multiple SecondHalf accounts.
  </p>
  <p><strong>Third Party Apps</strong></p>
  <p>
    The use of any apps created by anyone other than SecondHalf that claim to offer our service or unlock
    special SecondHalf features (like auto-swipers) is not allowed.
  </p>
  <p><strong>Account Dormancy</strong></p>
  <p>
    SecondHalf is fun to use... all the time! Use SecondHalf at the lake, use SecondHalf while eating cake. Use
    SecondHalf when you're out, use SecondHalf when in doubt! But, if you don't log in to your SecondHalf account
    in 2 years, we may delete your account for inactivity.
  </p>
  <hr>
  <div class="text-center w-full max-w-[600px] mx-auto p-[32px] rounded-[8px] bg-white mat-elevation-z6">
    <h2 class="text-[24px] my-[48px] font-semibold">REPORT ALL BAD BEHAVIOR</h2>
    <p class="mb-[48px]"><strong>On SecondHalf:</strong></p>
    <p class="mb-[48px]">
      From your match list, Swipe Left on a row and tap the "Report" button to send us a quick, confidential report.
    </p>
    <p class="mb-[48px]">
      From your message screen, tap the following icon and send us a quick, confidential report:
    </p>
    <p class="mb-[48px]">
      <mat-icon color="primary">flag</mat-icon>
    </p>
    <p class="mb-[48px]">
      While swiping, open a user's profile, tap the following icon and send us a quick, confidential report:
    </p>
  </div>
</div>
