
<div class="w-full flex flex-col">
  <div *ngFor="let message of messages"
        class="max-w-[70%] text-white p-[8px]"
        [class.cloud]="targetUserId === message.ownerID"
        [class.own-cloud]="targetUserId !== message.ownerID"
        [class.bg-gr-primary]="targetUserId !== message.ownerID"
        [class.bg-gr-accent]="targetUserId === message.ownerID">
        <span class="single-member-chat-clouds__message-content"
              [class.single-member-chat-clouds__own-message-content]="targetUserId !== message.ownerID">
              {{ message.content }}
        </span>
  </div>
</div>
