:host {
  display: flex;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  --image-aspect-ratio: 5 / 6;
}

:host::before {
  content: "";
  padding-bottom: calc(100% / (var(--image-aspect-ratio)));
}

.single-member-photo-viewer__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.button-panel {
  z-index: 20;
}
