:host {
  display: block;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.photos__pending-or-error-container {
  width: 100%;
  height: 65vh;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos__loading-text {
  font-weight: 600;
  text-align: center;
  animation: loading-text-animation 400ms alternate infinite;
}

.photos__loading-spinner-container {
  width: 33%;
  max-width: 200px;
}

.photos__loading-spinner {
  width: 100%;
}

.photos_error-text-container {
  border-radius: 8px;
  padding: 16px 8px;
  margin: 0 16px;
  text-align: center;
  border: 1px solid red;
}

.photos_empty-text-container {
  border-radius: 8px;
  background-color: white;
}

@keyframes loading-text-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
