<div class="intelectual-property__container" @intellectualProperty>
  <h1 class="text-[32px] my-[28px]">Intellectual Property</h1>
  <p class="my-[16px]">
    Below is a non-exhaustive list of trademarks and service marks owned by Match Group, LLC
    related to the SecondHalf brand.
  </p>
  <p  class="my-[16px]">
    You may not use the below marks without authorization from Match Group, LLC. If granted authorization
    and you use the below marks in publications distributed only in the United States, include the
    appropriate ™ or ® symbol on at least the first use and on those subsequent uses where the marks
    appear prominently. For publications distributed outside the United States, use of the ™ notice symbol
    is acceptable. It is also appropriate to use, instead of the trademark symbols, the trademark legends
    in the forms listed below:
  </p>
  <p class="my-[16px]"><strong>Sample trademark legends:</strong></p>
  <ol class="list-decimal pl-[32px] my-[16px]">
    <li>
      For registered trademarks: SecondHalf is the exclusive registered trademark of Match Group, LLC,
      and is used with permission.
    </li>
    <li>
      For unregistered trademarks: SecondHalf is the exclusive trademark of Match Group,
      LLC, and is used with permission.
    </li>
  </ol>
  <p class="my-[16px]"><strong>Flame logo:</strong></p>
  <p class="my-[16px]">
    For the Flame logo, please also indicate that the logo is copyright-protected. This can be done through either
    the combination symbol "™&© Match Group, LLC", or the following legend (in addition to the above
    trademark legend):
  </p>
  <p class="my-[16px]">
    Copyright [year of first publication] Match Group, LLC. All rights reserved. Used with permission.
  </p>
  <p class="my-[16px]">
    The omission of a product, service name or logo from the below list does not constitute a waiver of
    any trademark or other intellectual property rights related to that product, name or logo.
  </p>
  <p>
    If you see a website or app that uses a Match Group, LLC trademark inappropriately, we would like
    to hear about it.  Report inappropriate use of a Match Group, LLC trademark to trademark@match.com.
  </p>
  <p class="my-[16px]"><strong>Trademarks and Service Marks</strong></p>
  <ul class="list-disc pl-[32px] my-[16px]">
    <li>IT'S A MATCH!™</li>
    <li>PASSPORT™</li>
    <li>REWIND®</li>
    <li>SUPER LIKE™</li>
    <li>SWIPE®</li>
    <li>SWIPE LEFT™</li>
    <li>SWIPE RIGHT®</li>
    <li>SecondHalf®</li>
    <li>SecondHalf GOING OUT™</li>
    <li>SecondHalf GOLD™</li>
    <li>SecondHalf PLUS®</li>
    <li>SecondHalf SELECT™</li>
    <li>SecondHalf SOCIAL™</li>
    <li>SecondHalf STACKS™</li>
    <li>SecondHalf PLACES™</li>
    <li>SecondHalf U™</li>
    <li>SWIPE SESSIONS™</li>
    <li><h1>SWIPESESSIONS™</h1></li>
    <li>SWIPE SURGE™</li>
    <li>SWIPE NIGHT™</li>
  </ul>
  <p class="my-[16px]"><strong>Patent List</strong></p>
  <p class="my-[16px]">The Service is covered by one or more of the following patents:</p>
  <ul class="list-disc pl-[32px] my-[16px]">
    <li>U.S. Pat. No. D755,814</li>
    <li>U.S. Pat. No. D779,540</li>
    <li>U.S. Pat. No. D780,775</li>
    <li>U.S. Pat. No. D781,311</li>
    <li>U.S. Pat. No. D781,334</li>
    <li>U.S. Pat. No. D781,882</li>
    <li>U.S. Pat. No. D791,809</li>
    <li>U.S. Pat. No. D798,314</li>
    <li>U.S. Pat. No. D852,809S</li>
    <li>U.S. Pat. No. D854,025S</li>
    <li>U.S. Pat. No. 7,613,706</li>
    <li>U.S. Pat. No. 7,617,134</li>
    <li>U.S. Pat. No. 7,676,466</li>
    <li>U.S. Pat. No. 8,566,327</li>
    <li>U.S. Pat. No. 8,010,546</li>
    <li>U.S. Pat. No. 8,010,556</li>
    <li>U.S. Pat. No. 8,051,013</li>
    <li>U.S. Pat. No. 8,117,091</li>
    <li>U.S. Pat. No. 8,195,668</li>
    <li>U.S. Pat. No. 8,473,490</li>
    <li>U.S. Pat. No. 8,559,706</li>
    <li>U.S. Pat. No. 8,583,563</li>
    <li>U.S. Pat. No. 8,621,090</li>
    <li>U.S. Pat. No. 8,862,461</li>
    <li>U.S. Pat. No. 8,885,012</li>
    <li>U.S. Pat. No. 8,996,618</li>
    <li>U.S. Pat. No. 9,094,396</li>
    <li>U.S. Pat. No. 9,148,333</li>
    <li>U.S. Pat. No. 9,158,821</li>
    <li>U.S. Pat. No. 9,185,184</li>
    <li>U.S. Pat. No. 9,245,301</li>
    <li>U.S. Pat. No. 9,251,220</li>
    <li>U.S. Pat. No. 9,350,636</li>
    <li>U.S. Pat. No. 9,413,845</li>
    <li>U.S. Pat. No. 9,418,057</li>
    <li>U.S. Pat. No. 9,495,391</li>
    <li>U.S. Pat. No. 9,537,706</li>
    <li>U.S. Pat. No. 9,560,156</li>
    <li>U.S. Pat. No. 9,672,289</li>
    <li>U.S. Pat. No. 9,679,259</li>
    <li>U.S. Pat. No. 9,715,532</li>
    <li>U.S. Pat. No. 9,733,811</li>
    <li>U.S. Pat. No. 9,824,123</li>
    <li>U.S. Pat. No. 9,830,669</li>
    <li>U.S. Pat. No. 9,836,533</li>
    <li>U.S. Pat. No. 9,870,465</li>
    <li>U.S. Pat. No. 9,959,023</li>
    <li>U.S. Pat. No. 9,547,369</li>
    <li>U.S. Pat. No. 9,720,570</li>
    <li>U.S. Pat. No. 10,108,968</li>
    <li>U.S. Pat. No. 10,149,267</li>
    <li>U.S. Pat. No. 10,203,854</li>
    <li>U.S. Pat. No. 10,277,710</li>
    <li>U.S. Pat. No. 10,333,999</li>
    <li>U.S. Pat. No. 10,380,158</li>
    <li>U.S. Pat. No. 10,387,795</li>
    <li>U.S. Pat. No. 10,523,622</li>
    <li>U.S. Pat. No. 10,624,054</li>
  </ul>
</div>
