<form class="sign-in-form__container"
      [formGroup]="form!"
      [class.sign-in-form__container-with-error-message]="signInError"
      (ngSubmit)="onFormSubmit()"
      @form>

  <div class="sign-in-form__header-container" @formHeader>
    <p class="sign-in-form__header-p"
       [class.with-error]="signInError">Complete the form to Sign-In. If you not have account, please <a routerLink="/signup">register</a>.</p>
  </div>

  <div *ngIf="signInHttpErrorResponse$| async as error"
       class="sing-in-form__error-message-container mat-elevation-z6">
    <ng-container [ngSwitch]="error.code">
      <span *ngSwitchCase="'auth/wrong-password'">
        Failed to sign in. Wrong password.
      </span>
      <span *ngSwitchCase="'auth/user-not-found'">
        E-mail address "{{ currentWrittenEmail }}" is not registered!
      </span>
      <span *ngSwitchDefault>
        An internal server error accour. Please try again later.
      </span>
    </ng-container>
  </div>


  <div class="sign-in-form__input-group">
    <mat-form-field floatLabel="auto" appearance="fill" color="accent">
      <mat-label>Address E-mail</mat-label>
      <input matInput type="text" name="email" formControlName="email" inputmode="email" async-validation-on-blur>
      <mat-error *dnng-errors-for="form!.controls.email; let error">{{ error.message }}</mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="auto" appearance="fill" color="accent">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" formControlName="password">
      <mat-error *dnng-errors-for="form!.controls.password; let error">{{ error.message }}</mat-error>
    </mat-form-field>
  </div>

  <div class="sign-in-form__btn-group" @btnGroup>
    <button type="submit" mat-raised-button color="primary" [disabled]="disableSubmit">Sign-In</button>
    <button type="button" mat-raised-button color="warn">Cancel</button>
  </div>
</form>

