:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.not-found__image-box {
  width: 50%;
  max-width: 70vh;
  min-width: min(60vh, 100vw);
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
