<!-- <div class="loading-spinner__container">
  <div class="outer-circle"></div>
  <div class="spining-square"></div>
  <div class="inner-circle"></div>
</div> -->

<div class="loading-spinner__container">
  <div><div class="mat-elevation-z6"></div></div>
  <div><div class="mat-elevation-z6"></div></div>
  <div><div class="mat-elevation-z6"></div></div>
  <div><div class="mat-elevation-z6"></div></div>
  <div><div class="mat-elevation-z6"></div></div>
  <div><div class="mat-elevation-z6"></div></div>
  <div><div class="mat-elevation-z6"></div></div>
  <div><div class="mat-elevation-z6"></div></div>
</div>
