:host {
  display: block;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.photos__loading-text {
  font-weight: 600;
  text-align: center;
  margin: 16px;
  animation: loading-text-animation 400ms alternate infinite;
}

@keyframes loading-text-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
