<form [formGroup]="form!" class="header-sign-in-form__container strong-form" (ngSubmit)="onSubmitHandler()">

  <div *ngIf="signInHttpErrorResponse$| async as error"
       class="header-sign-in-form__error-container mat-elevation-z6"
       @errorBox>
    <ng-container [ngSwitch]="error.code">
      <span *ngSwitchCase="'auth/wrong-password'">
        Failed to sign in. Wrong password.
      </span>
      <span *ngSwitchCase="'auth/user-not-found'">
        E-mail address "{{ currentWrittenEmail }}" is not registered!
      </span>
      <span *ngSwitchDefault>
        An internal server error accour. Please try again later.
      </span>
    </ng-container>
  </div>

  <mat-form-field floatLabel="auto" appearance="fill" color="primary" @firstInput>
    <mat-label>Address E-Mail</mat-label>
    <input matInput type="text" name="email" formControlName="email" inputmode="email" async-validation-on-blur>
    <mat-error *dnng-errors-for="form!.controls.email; let error">{{ error.message }}</mat-error>
  </mat-form-field>
  <mat-form-field floatLabel="auto" appearance="fill" color="primary" @secondInput>
    <mat-label>Password</mat-label>
    <input matInput [type]="passwordHidden ? 'password' : 'text'" name="password" formControlName="password">
    <button type="button" mat-icon-button matSuffix (click)="passwordHidden = !passwordHidden">
      <mat-icon>
        {{ passwordHidden ? 'visibility'  : 'visibility_off' }}
      </mat-icon>
    </button>
    <mat-error *dnng-errors-for="form!.controls.password; let error">{{ error.message }}</mat-error>
  </mat-form-field>
  <div class="header-sign-in-form__btn-group" @btnsWrapper>
    <button mat-raised-button color="primary">Sign-in</button>
    <a mat-raised-button color="warn" routerLink="/signup">Register</a>
  </div>
</form>
