$size-list: 5, 10, 15, 20, 25, 30, 35, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

@each $size in $size-list {
  .w-#{$size} {
    width: #{$size}#{'%'};
  }

  .h-#{$size} {
    height: #{$size}#{'%'};
  }
}

@each $size in $size-list {
  .min-w-#{$size} {
    min-width: #{$size}#{'%'};
  }

  .min-h-#{$size} {
    min-height: #{$size}#{'%'};
  }
}

@each $size in $size-list {
  .children-w-#{$size} {
    & > * {
      width: #{$size}#{'%'};
    }
  }

  .children-h-#{$size} {

    & > {
      height: #{$size}#{'%'};
    }

  }
}
