<div class="new-photos__media-container">
  <app-camera-picture-input (accept)="onPhotoAccepted($event)"
                            [uploaded$]="uploaded2$"
                            shutterSoundEffectUrl="assets/camera_picture_sound_effect.mp3">
    <button mat-raised-button color="primary" fileAddBtn>
      <mat-icon>add_a_photo</mat-icon> Make Picture
    </button>
  </app-camera-picture-input>
  <app-multi-file-picker-input accept="image/*"
                              #filePicker
                              readDataUrl
                              [clear$]="uploadedImagesFromHardDrive$">
    <button mat-raised-button color="primary" fileAddBtn>
      <mat-icon>image</mat-icon> Add new picture
    </button>
  </app-multi-file-picker-input>
</div>

<div class="new-photos__items-container"
      *ngIf="filePicker.fileDataUrls"
      #itemsContainer
      [@itemsContainer]="{ value: itemsContainerAnimationState, params: { itsHeight: itemsContainer.clientHeight} }">

  <button class="new-photos__upload-btn" mat-raised-button color="accent" (click)="uploadImages(filePicker.value!)">
    <mat-icon>image</mat-icon> Upload
  </button>

  <div class="new-photos__item" *ngFor="let fileData of filePicker.fileDataUrls; let i = index" @newPhoto>
    <app-new-photo [imageUrl]="fileData"

                    (cancel)="filePicker.removeFile(i)"></app-new-photo>
  </div>
</div>
